<div class="container">
   <div class="not-found-body-style">
      <div class="img img-fluid col-sm-12 col-md-6">
         <img src="./assets/404.png" style="float: right;">
      </div>
      <div class="text col-sm-12 col-md-6">
         <h1>Página No Encontrada</h1>
         <div>No podemos encontrar la página que está buscando. Puede volver a la página anterior, visitar nuestra página de inicio o contactar a nuestro equipo de soporte.</div>
         <div>
            <br/>
            <a class="not-found-button-style text-white" href='/'>Ir al inicio</a>
         </div>
      </div>
   </div>
</div>